@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*  Хедер сайта  */

.page-header {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  /* display: flex; */
  position: relative;
  /* justify-content: space-between; */
  padding-left: 256px;
  padding-right: 70px;
}

/* .header-container {
  width: 1060px;
  margin: 0 auto;
} */

.logo-link {
  margin: 0;
  height: 70px;
  position: absolute;
  top: 0;
  left: 70px;
}

.logo-link:focus {
  color: #000000;
}

/*  Навигация по сайту */

.navigation {
  display: flex;
  justify-content: space-between;
  /* flex-grow: 1; */
}

.navigation-list {
  margin: 0;
  padding-left: 0;
  padding-top: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 32px;
}

.navigation-link {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  /* padding: 20px 16px; */
  text-decoration: none;
  position: relative;
}

.navigation-link-active::after {
  content: "";
  background-color: #756257;
  height: 2px;
  width: 100%;
  margin: 20px auto 0;
  display: block;
}

/* пользовательское меню  */

.user-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.user-navigation-item {
  min-width: 44px;
  margin: 0;
  padding: 0;
}

.user-navigation-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: block;
  position: relative;
}

.search-link,
.favorite-link {
  height: 64px;
  width: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  transition: transform 0.4s;
}

.search-link {
  background-image: url(../images/icons/search.svg);
}

.favorite-link {
  background-image: url(../images/icons/heart.svg);
}

/* в избранном */

.number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 15px;
  left: 21px;
  background-color: #7DB54F;
  border-radius: 50%;
  padding: 3px;
}

.button {
  display: block;
  background: #756157;
  border: 0;
  border-radius: 4px;
  padding: 8px 30px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.user-item-wants {
  padding: 14px 0;
}

.user-wants {
  min-width: 160px;
  word-break: break-all;
  margin-left: 20px;
}

.user-wants:hover {
  background-color: #615048;
}

.user-wants:focus {
  background-color: #615048;
}

.user-wants:active {
  background-color: #756157;
}

.main-index {
  text-align: center;
  flex-grow: 1;
}

.main-container {
  margin: 0;
  padding: 0;
}

.hero {
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #204d64;
  background-image: url("../images/hero_decor.svg"), url("../images/hero.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 1200px 57px, cover;
}

.hero-text {
  display: block;
  width: 458px;
  margin: 0 auto;
}

.advantages-head {
  padding-top: 69px;
  padding-bottom: 90px;
  padding: 60px 160px 90px;
}

.section-caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.section-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/*  Карточки преимуществ  */

.advantage-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantage-item {
  min-width: 400px;
  margin: 0;
  background-color: rgba(131, 179, 211, 0.12);
  word-break: break-word;
}

.advantage-item-edges {
  grid-column: 3 span;
  display: flex;
}

.advantage-container {
  width: 400px;
  padding: 102px 85px;
}

.advantages .advantage-item:first-child,
.advantages .advantage-item:last-child {
  background-color: #82B3D3;
  color: #FFF;
  /* display: flex; */
}

.advantage-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.advantage-title:after {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  margin: 30px auto 0;
  content: "";
  display: block;
}

.advantage-container-edges .advantage-title:after {
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
  margin: 30px auto 0;
  content: "";
  display: block;
}

.advantage-text {
  margin: 0;
}

.services-container {
  width: 100%;
  padding: 64px 160px;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.service-list .advantage-container {
  padding: 80px 85px;
}

.housing::before {
  content: url("../images/icons/housing.svg");
  display: inline-block;
  width: 75px;
  height: 72px;
  position: relative;
  margin-bottom: 30px;
}


.food::before {
  content: url("../images/icons/food.svg");
  display: inline-block;
  width: 74px;
  height: 70px;
  position: relative;
  margin-bottom: 30px;
}

.souvenirs::before {
  content: url("../images/icons/souvenir.svg");
  display: inline-block;
  width: 64px;
  height: 76px;
  position: relative;
  margin-bottom: 30px;
}

.service-item h3 {
  margin-bottom: 30px;
}

/*  Поиск гостиниц  */

.search-hotel {
  padding: 96px 160px;
}

.date-trip {
  margin-bottom: 54px;
}

.search-hotel-link {
  text-decoration: none;
  display: inline-block;
  max-width: 590px;
  padding: 8px 50px;
  line-height: 36px;
}

.search-hotel-link:hover {
  background-color: #615048;
}

.search-hotel-link:focus {
  background-color: #615048;
}

.search-hotel-link:active {
  background-color: #756157;
}



/* футер страницы/сайта */

.page-footer {
  margin: 0;
  padding: 0;
}

.subscribe {
  text-align: center;
  background-color: #FFFFFF;
  padding: 96px 250px 104px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;

}

.subscribe-color {
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-size: cover;
  background-color: #8daab8;
  color: #FFFFFF;
}

.subscribe-contaimer-inner .subscribe-title {
  color: #000000;
}

.subscribe-contaimer-inner .subscribe-text {
  color: #333;
}

.subscribe-form {
  display: flex;
}

.input-subscribe {
  min-width: 450px;
  height: 52px;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 4px 0 0 4px;
  border: 0;
  padding: 8px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  flex-grow: 1;
}

.input-subscribe:hover {
  background-color: #E6E6E6;
}

.input-subscribe:focus {
  outline: #83B3D3 solid 3px;
  background: #E6E6E6;
}

.button-subscribe {
  width: 232px;
  height: 52px;
  background: #82B3D3;
  border-style: none;
  border-radius: 0 4px 4px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 20px;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background: #68A2CA;
}

.button-subscribe:active {
  background: #68A2CA;
}

.social {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  align-items: center;
}

.social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  min-width: 142px;
  max-width: 240px;
  padding: 0;
  margin: 0;
}

.social-link {
  width: 47px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover path,
.social-link:focus path {
  fill: #68A2CA;
  outline: none;
}

.social-link:active path{
  fill: rgba(104, 162, 202, 0.3);
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  max-width: 600px;
}

.phone-link:hover,
.phone-link:focus {
  color: #756157;
  outline: none;
}

.phone-link:focus {
  color: rgba(117, 97, 87, 0.3);
}

.html_academy-link:hover path,
.html_academy-link:focus path {
  fill: #756157;
  outline: none;
}

.html_academy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}


/*---------------модальное окно-----------------*/

.modal-overlay {
  width: 1280px;
  margin: 0 auto;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container {
  width: 717px;
  background-color: #FFFFFF;
  padding: 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-weight: 700;
  margin: 396px auto;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close {
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  background-image: url(../images/icons/close.svg);
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
}

.modal-form label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-form input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
}

.dates {
  width: 440px;
  height: 48px;
}

.modal-form span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.visit-date p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
}

.wrong-date {
  color: #FF5757;
}

.buton-container {
  width: 110px;
}

.number-guests button {
  border: 0;
}

.button-control {
  width: 40px;
  color: rgba(117, 97, 87, 0.3);
}

.volume-guests {
  font-family: inherit;
  width: 31px;
  text-align: center;
}

.explanation {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #82B3D3;
  text-align: center;
  color: #FFFFFF;
}

.explanation-kids {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.container-note {
  width: 256px;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.modal-search-button {
  width: 577px;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  border: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*---------------Каталог-----------------*/

/*  Контейнер для аголовока и фильтров - всё что на фоне картинки  */

.header-inner-container {
  background-image: url(../images/backgrounds/filters.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #204d64;
  color: #F2F2F2;
  padding: 35px 70px 70px;
}

/*  h1  */
.catalog-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
}

.breadcrumbs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.icon-home::before {
  content: url(../images/icons/house.svg);
  display: inline-block;
  min-width: 13px;
  /* min-height: 13px; */
  /* position: relative; */
  margin-right: 10px;
}

.next::before {
  content: url(../images/icons/more.svg);
  min-width: 6px;
  margin-right: 10px;
}

.header-inner {
  margin-bottom: 40px;
}

/*  ----------- фильтры на фоне с картинкой ------------- */

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
}

.catalog-filter-group {
  border-style: none;
  padding: 0;
  margin: 0;
}

.filter-group-1 {
  margin-right: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.filter-item-1:last-child,
.filter-item-2:last-child {
  margin-bottom: 0;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* ----------- фильтр по цене  -------------  */


.price-input {
  width: 143px;
  height: 48px;
  margin: 0;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price-input-right {
  border-radius: 0 4px 4px 0;
}

.button-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*  пока не придумал как по-другому, чтобы выронять кнопку "применить" по инпуту с ценой:  */
  padding-top: 56px;
}

.button-filter {
  width: 191px;
  height: 36px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-reset {
  background-color: transparent;
}

.button-use {
  background-color: #82B3D3;
  margin-bottom: 32px;
}

/* -------- конец фильтров на фоне с картинкой ----------- */

.select-container {
  width: 100%;
  margin: 0;
  padding: 50px 70px 60px;
}

.select-head-container {
  display: flex;
  max-width: 100%;
  margin-bottom: 40px;
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
  margin-right: 70px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.showing-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.showing-item:not(:last-child) {
  margin-right: 8px;
}

.button-showing {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-repeat: no-repeat;
  padding-top: 14px;
}

.button-showing-active {
  border-color: #000000;
}

.show-cards::after {
  content: url(../images/icons/display_1.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-one::after {
  content: url(../images/icons/display_2.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-list::after {
  content: url(../images/icons/display_3.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------- карточки гостиниц ------------------------- */

.hotel-card-list {
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style-type: none;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card-item {
  width: 340px;
  padding: 20px;
  text-align: center;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
}

.hotel-img {
  width: 300px;
  display: block;
}

.hotel-img-link {
  grid-column: 2 span;
}

.card-link-name {
  grid-column: 2 span;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: capitalize;
  text-align: left;
  margin: 0;
}

.small-at {
  text-transform: none;
}

.hotel-card-item a {
  text-decoration: none;
}

.hotel-sort {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  /* display: flex;
  justify-content: space-between;
  margin-bottom: 16px; */
}

.sort {
  text-align: left;
}

.value {
  text-align: right;
}

.more-info {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hotel-link {
  display: inline-block;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;
}

.button-favorites {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 8px;
  background: #82B3D3;
  border-radius: 4px;
  border: 0;
  width: 140px;
  height: 36px;
}

.button-favorite-done {
  background-color: #7DB54F;
}

.stars {
  margin: 0;
  display: block;
  height: 17px;
  width: 18px;
  background: url(../images/icons/star.svg) space 0 0;
  margin-top: 10px;
}

.number-stars-4 {
  width: 80px;
}


.number-stars-3 {
  width: 60px;

}

.number-stars-2 {
  width: 40px;
}

.rating {
  margin: 0;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 9px;
}

/* здесь должны быть стили для - карточи гостиниц - одна на странице  */

/*  карточи гостиниц - списком

.hotel-card-list {
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style-type: none;
  box-sizing: content-box;
  display: grid;
  grid: template columns 1060px;;
  gap: 20px;
}
*/

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  background-color: #82B3D3;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  display: block;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-more {
  background-color: transparent;
  color: #000000;
}

.phone-link {
  text-decoration: none;
}
